body {
  background-color: #d1dbe4;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  color: #53575b;
}

code {
  font-family: 'UbuntuMono', sans-serif;
}

.icon img {
  width: inherit;
  height: inherit;
}

#example-carousel {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 1.17em;
  font-weight: bold;
}

#features {
  justify-content: space-between;
  display: flex;
  gap: 20px;
  width: 100%;
}

#features>div {
  width: 100%;
  text-align: center;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px;
}

.container.text {
  max-width: 800px;
  align-items: start;
}

#demo {
  justify-content: center;
}

.down {
  flex-direction: column;
}

#prev-example, #next-example {
  width: 10px;
  height: 10px;
  padding: 5px;
  background-color: transparent;
  display: inline-grid;
  cursor: pointer;
}

#prev-example:hover, #next-example:hover {
  background-color: #d1dbe4;
}

#inputs {
  justify-content: space-between;
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 20px 0px;
}

.divider {
  white-space: pre;
}

.accent {
  background-color: #a3b7ca;
}

#banner {
  background-color: #476f95;
  position: sticky;
  padding: 10px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  top: 0;
  z-index: 1000;
  font-size: 20px;
}

#navbar {
  color: #fff;
  padding: 0;
  justify-content: space-between;
}

#navbar div {
  display: flex;
  align-items: center;
}

.start {
  flex: 1;
  justify-content: flex-start;
}

#menu {
  padding-left: 40px;
  gap: 20px;
}

.icons {
  gap: 20px;
}

.end {
  flex: 1;
  justify-content: flex-end;
}

#name {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 2px;
}

a, #prev-example, #next-example {  
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.text a {
  color: #476f95;
}

.text a:hover {
  text-decoration: underline;
}

#navbar a:hover, #navbar .selected {
  background-color: #7593af;
}

.icon {
  width: 30px;
  height: 30px;
}

@media (max-width: 1110px) {
  #banner {
    padding: 10px 20px;
  }
  
}

@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuMono';
  src: url('assets/fonts/UbuntuMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
